<nav class="container navbar navbar-expand-lg mb-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mx-auto">
            <li class="nav-item">
                <a class="nav-link text-info" href="{% url 'home' %}">Home</a>
            </li>

            {% if categories_menu %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorias
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for category in categories_menu %}
                            <a class="dropdown-item text-info" href="{% url 'category' category %}">{{ category }}</a>
                        {% endfor %}
                    </div>
                </li>
            {% endif %}

            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Novo
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-info" href="{% url 'add-category' %}">Categoria</a>
                        <a class="dropdown-item text-info" href="{% url 'add-post' %}">Post</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-info" href="{% url 'edit-profile' %}">Editar cadastro</a>
                        <a class="dropdown-item text-info" href="{% url 'edit-password' %}">Alterar senha</a>
                        <a class="dropdown-item text-info" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                <a class="nav-link text-info" href="{% url 'register' %}">Cadastrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" href="{% url 'login' %}">Login</a>
                </li>

            {% endif %}

        </ul>
    </div>
</nav>