{% extends 'base.html' %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block content %}

<h1>{{ post.title }}</h1>
<small><a href="{% url 'category' post.category %}"><b>Categoria {{ post.category }}</b></a></small>
<br>
<small>
    By: {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }}
    <br><br>
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="post_id" value="{{ post.id }}" type="button" class="btn btn-primary btn-sm">
            Likes <span class="badge badge-light">{{ total_likes }}</span>
            <span class="sr-only">unread messages</span>
        </button>
    </form>
</small>

<hr>
<br>
<img src="{{ post.header_image.url }}" class="img-fluid rounded mx-auto d-block" >
<br>
<br>
{{ post.body | safe }}
<br/><br/>
    <img src="{{ post.author.profile.profile_picture.url }}" alt="">
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <a href="{% url 'update-post' post.pk %}" type="button" class="btn btn-primary btn-sm">Editar</a>
        <a href="{% url 'delete-post' post.pk %}" type="button" class="btn btn-danger btn-sm">Deletar</a>
    {% endif %}
{% else %}
{% endif %}
<a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Voltar</a>

    <br/><br/>
    <hr>
    <br/>

{% endblock %}