{% extends 'base.html' %}
{% block content %}

    {% if category_posts %}
        <h2>Categoria {{ cats }}</h2>

        <ul>
        {% for post in category_posts %}
            <br>
            <li>
                <h3><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h3>
                <small><b>Categoria {{ post.category }}</b></small>
                <br><br>
                <h4>{{ post.snippet | safe }}</h4>
                <p><small>{{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }}</small></p>
            </li>
            <hr>
        {% endfor %}
        </ul>

    {% else %}
        <h2>Nessa categoria não temos post!</h2>
    {% endif %}

{% endblock %}