{% extends 'base.html' %} {% block content %}

<div class="mx-auto" style="width: 80%">
  <div class="row">

    <div class="jumbotron jumbotron-fluid" style="width: 100%">
      <div class="container">
        <h1 class="display-4">Ricardo Wojciechowski</h1>
        <p class="lead">
          Comecei programando em Visual Basic 6, mas sempre fazia algo em HTML e Javascript. Fiz Montagem e Manutenção de Computadores e dai trabalhei com isso, o que me ajudou e muito a pagar a faculdade de Analise de Sistemas, pois minha amada "mami" não tinha como pagar pra mim, porém isso não seria barreira pra mim, é claro.
      </div>
    </div>

    {% for post in object_list %}
      <div class="card text-center mb-3"style="width: 100%">
        <div class="card-header" style="font-weight: bolder">
          {{ post.title }}
        </div>
        <div class="card-body">
          <p class="card-text">{{ post.snippet | safe }}</p>
          <a href="{% url 'article-detail' post.pk %}" class="btn btn-primary">Acessar</a>
        </div>
        <div class="card-footer text-muted">
          Criado em {{ post.post_date }}
        </div>
      </div>
    {% endfor %}

  </div>
</div>

{% endblock %}
