{% extends 'base.html' %}
{% block title %} Editar Post! {% endblock %}
{% block content %}

    <h1>Editar Post</h1>
    <br>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button class="btn btn-secondary">Voltar</button>
                    <button class="btn btn-success">Editar</button>
                </form>
            </div>
        {% else %}
            <h3>Para editar o Post é necessário ser o autor dele!</h3>
        {% endif %}
    {% else %}
        <h3>Para editar o post é necessário estar logado!</h3>
    {% endif %}

{% endblock %}